.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    animation: fadeIn 0.5s ease;

    h1 {
        font-size: 8rem;
        line-height: 1.2;
    }

    span {
        font-size: 1.4rem;
    }

    h1, span {
        color: transparent;
        background: linear-gradient(0deg, #3f3f3f, #ffffff);
        background-clip: text;
        -webkit-background-clip: text;
    }
}